body {
  width: 1440px;
  margin: 0ch;
  margin-left: auto;
  margin-right: auto;
  color: rgba(99, 96, 96, 1)
  
}

.header {
  background: rgb(237, 242, 236);
  display: flex;
  justify-content: space-between;
  padding: 41px 111px 40px 110px;
  font-family: Inika;
}

.navMenu{
  
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.navMenu li{
  display: inline-block;
}
.navMenu a {
  text-decoration: none;
  color:rgba(1, 2, 1, 1);
  font-family: Inika;
  Font-style: Regular;
  Font-size: 16px;
  Line-height: 21px;
  font-weight: 500;
}

.navMenu a:hover {
  color: #E06733;
}

.plantsLogo {
  padding-top: 11px;
  display: flex;
}

.logo{
  padding: 4px 0 0 1px;
}

main {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  
}

#home {
  background: rgb(237, 242, 236);
  padding: 53px 0 49px;
  display: flex;
  justify-content: center;
}

#home .wrapper {
  width: 1239.5px;
  display: flex;
  justify-content: space-between;
}

.homeInfo {
  width: 549px;
  padding: 7.16px 9px 0px 0px;
}

.welcome {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

.homeInfo p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  padding-top: 7px;
}

.colortext {
  color: rgba(73, 154, 24, 1);
}

.buttonWrapper {
  padding-top: 36px;
}

.buttonLearnMore {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(1, 2, 1, 1);
  font-size: 16px;
  border: 2px solid #E06733;
  border-radius: 10px;
  padding: 10px 26px;
}

.buttonLearnMore:hover {
  background: #E06733;
  color: white;
  transition: all 500ms ease;
}
