body {
  margin: 0ch;
  color: rgba(99, 96, 96, 1);
  overflow-y: overlay;
}
html {
  scroll-behavior: smooth;
}
.header {
  background: rgb(237, 242, 236);
  display: flex;
  justify-content: center;
}
.headerWrapper {
  z-index: 1;
  width: 1219px;
  display: flex;
  justify-content: space-between;
  padding: 41px 111px 40px 110px;
  font-family: Inika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.burgerNavigation {
  top: 93px;
  position: absolute;
  left: 100%;
  right: 0;
  background: rgba(220, 233, 217, 1);
  overflow: hidden;
  transition: all 300ms ease;
}

.burgerNavMenu {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
}

.burgerNavMenu li {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.burgerNavMenu li:hover {
  background: rgba(193, 230, 152, 1);
}

.modal {
  display: none;
  position: fixed;
  background: rgba(0, 128, 128, 0);
  width: 100%;
  height: 100%;
}

.navMenu li {
  display: inline-block;
  cursor: pointer;
}

.burgerNavMenu a {
  text-decoration: none;
  color: #717171;
  font-family: Inika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  display: block;
}

.navMenu a {
  text-decoration: none;
  color: rgba(1, 2, 1, 1);
  font-family: Inika, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}

.navMenu a:hover {
  color: #e06733;
}

.plantsLogo {
  padding-top: 11px;
  display: flex;
}

.logo {
  padding: 4px 0 0 1px;
}

.burgerIcon {
  display: none;
}

main {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

#home {
  background: rgb(237, 242, 236);
  padding: 53px 0 49px;
  display: flex;
  justify-content: center;
}

#home .wrapper {
  width: 1239.5px;
  display: flex;
  justify-content: space-between;
}

.homeInfo {
  width: 549px;
  padding: 7.16px 9px 0px 0px;
}

.welcome {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

.homeInfo p {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  padding-top: 7px;
}

.buttonWrapper {
  padding-top: 27px;
}

.learnMore {
  text-transform: uppercase;
  color: rgba(1, 2, 1, 1);
  font-size: 16px;
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 10px 26px;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutWrapper {
  width: 1221px;
  display: flex;
  padding: 87px 109px 90px 109px;
  justify-content: space-between;
}

#about {
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
}

#about h2 {
  font-family: Inika, ' Segoe UI ', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: rgba(73, 154, 24, 1);
}

.orangeText {
  color: #e06733;
}

.about p {
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 1px;
}

.about {
  width: 600px;
  padding-top: 42px;
}
.imgWrapper {
  padding-top: 7px;
}

.serviceWrapper {
  width: 1225px;
  display: flex;
  flex-direction: column;
  padding: 39px 106px 66px 109px;
}

#service {
  display: flex;
  justify-content: center;
  background-color: #edf2ec;
}
.service {
  width: 29%;
  margin: 0;
  font-family: Inika, ' Segoe UI ', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.serviceContainer {
  display: flex;
  width: 100%;
  justify-content: start;
}

.serviceButtons {
  width: 597px;
  display: flex;
  justify-content: space-around;
  padding: 9px 0px 0px 74px;
}

.serviceButtons li {
  display: inline;
}

.serviceButtons button {
  width: 161px;
  height: 50px;
  padding: 11px 4px 11px 0px;
  font-family: Inika, ' Segoe UI ', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
}

.button.lawn {
  padding-right: 1px;
}

.button.garden {
  padding-right: 6px;
}

.card.main {
  height: 450px;
  width: 26.92%;
  transition: all 500ms;
}
.cards.wrapper {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1010px;
  padding: 0px 3px 0px 1px;
  flex-direction: row;
}
.cardwrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  width: auto;
  height: 350px;
}
.card img {
  width: 100%;
  height: auto;
}

.horizontal img {
  width: auto;
  height: 100%;
}

.card.info {
  height: 98px;
  width: auto;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .head {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin: 9px;
}

.card .information {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin: 5px;
}

.prices {
  padding-top: 6px;
}
.prices h2 {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

#price {
  display: flex;
  justify-content: center;
}
#price .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1px 109px 108px 109px;
  width: 1222px;
}

.accordeon {
  padding: 34px 0px;
  gap: 34px 0px;
  margin-top: 60px;
  width: 330px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 500ms;
}

.price.block {
  background: #edf2ec;
  border-radius: 20px;
  padding: 16px 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  transition: all 500ms;
}

.basic {
  width: 170px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.moreInfo {
  width: 100%;
}

.priceInfo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  /* or 100% */
  margin-bottom: 5px;

  color: #717171;
  width: 170px;
  margin-top: 6px;
}

.divider {
  margin-top: 10px;
  width: 164px;
  border: 0.5px solid #aea1a1;
}

.pricePerHour {
  margin-top: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 6px;
}

.order {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  width: 86px;
  padding: 4px 23px;
  height: 25px;
  background: #ffffff;
  border-radius: 10px;
  color: #717171;
}

.bigPrice {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.bold {
  font-weight: 700;
}
.contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contactus h3 {
  padding-top: 39px;
  margin: 0;
  width: 460px;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.contactus .button {
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: Inika, ' Segoe UI ', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  background-color: white;
  margin-top: 40px;
  width: 162px;
  height: 50px;
  padding: 1px 4px 0px 0px;
  margin-bottom: 34px;
}

.contactus img {
  position: relative;
  left: 9px;
}

.contactsWrapper {
  width: 1222px;
  display: flex;
  justify-content: space-between;
  padding: 26px 109px 0px 109px;
}

#contacts {
  background-color: #edf2ec;
  display: flex;
  justify-content: center;
}

#contacts h2 {
  font-family: Inika, ' Segoe UI ', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-left: 44px;
  color: #499a18;
}

.city {
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 0px 35px 0px 20px;
  width: 395px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 122px;
  align-items: center;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  letter-spacing: 0.05em;
  width: 450px;
  box-sizing: border-box;
  color: #717171;
  cursor: pointer;
}

.hide img {
  object-fit: cover;
}

.hide img:nth-of-type(2) {
  display: none;
}

.city:active {
  background: rgba(193, 230, 152, 1);
  border: 1px solid #d6e7d2;
  border-radius: 0px;
  box-shadow: none;
  transition: all 100ms ease;
}

.city:active img:nth-of-type(1) {
  display: none;
}

.city:active img:nth-of-type(2) {
  display: block;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 109px;
  height: 130px;
  align-items: center;
  width: 1222px;
}

.footer {
  display: flex;
  justify-content: center;
}

.github {
  width: 168px;
  display: flex;
  justify-content: space-between;
}

.socials {
  width: 189px;
  padding-top: 4px;
}

.soc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 1px;
}

.rs {
  padding-left: 19px;
}
.soc li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #000000;
}
.woman {
  padding-top: 23px;
}
.colortext {
  color: rgba(73, 154, 24, 1);
}
.button {
  cursor: pointer;
}
.button:hover {
  background: #e06733;
  color: white;
  transition: all 500ms ease;
}

.active.button {
  background: #e06733;
  color: white;
}

.blur {
  filter: blur(5px);
}

.active.block {
  background-color: rgba(214, 231, 210, 1);
  transition: all 500ms ease;
}

.none {
  display: none;
}

@media (max-width: 1282px) {
  /*   body {
    width: 768px;
  } */

  .headerWrapper {
    width: 667px;
    padding: 34px 51px 20px 48px;
  }

  #home .wrapper {
    flex-direction: row-reverse;
    width: 668.5px;
  }

  .leafs img {
    height: 265px;
    position: relative;
    left: 3px;
  }

  .welcome {
    padding-top: 9px;
    font-size: 35px;
    margin: 0;
  }

  .homeInfo p {
    font-size: 16px;
    line-height: 25px;
    padding: 15px 0px 0px 5px;
  }

  .homeInfo {
    width: 349px;
    padding: 0;
  }

  #home {
    padding: 41px 0 70px;
  }

  .buttonWrapper {
    padding-top: 19px;
  }

  .aboutWrapper {
    flex-direction: column;
    display: flex;
    padding: 0px 4px 90px 0px;
    align-items: center;
  }

  #about h2 {
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    width: 528px;
    padding-left: 2px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 665px;
    padding-top: 11px;
  }

  .about p {
    padding-top: 1px;
  }

  .imgWrapper img {
    height: 258px;
  }

  .imgWrapper {
    padding-top: 47px;
    padding-left: 3px;
  }

  .card.main {
    height: 450px;
    width: 42%;
    max-width: 50%;
  }

  .serviceContainer {
    flex-direction: column;
  }

  .service {
    font-size: 35px;
    line-height: 46px;
    width: 50%;
  }

  .serviceWrapper {
    padding: 60px 47px 66px 50px;
  }

  .serviceButtons {
    padding: 22px 0px 0px 0px;
    justify-content: space-between;
    width: 559px;
  }

  .cards.wrapper {
    margin-top: 19px;
    height: auto;
    gap: 38px 0;
    padding-bottom: 5px;
  }

  .card .information {
    padding: 0px 33px;
    text-align: center;
  }

  .prices h2 {
    font-size: 35px;
    line-height: 42px;
    padding-left: 14px;
  }

  .contactus h3 {
    font-size: 25px;
    line-height: 35px;
    width: 290px;
  }

  #price .wrapper {
    justify-content: space-between;
    padding: 4px 49px 81px 51px;
  }

  .contactus {
    padding-top: 97px;
  }

  .contactus .button {
    margin-top: 27px;
    margin-bottom: 30px;
  }

  .contactsWrapper {
    flex-direction: column;
    align-items: center;
    padding: 7px 0px 0px 0px;
  }

  #contacts h2 {
    margin-left: 0;
  }

  .city {
    margin-top: 66px;
  }
  .woman {
    order: 2;
    height: 248px;
    width: auto;
    padding-top: 250px;
    padding-left: 20px;
  }

  .footerWrapper {
    flex-direction: column;
    padding-top: 33px;
    height: 126px;
  }

  .github {
    padding-right: 4px;
    width: 171px;
  }
  .rs {
    padding-left: 0;
    margin-bottom: 5px;
    margin-right: 1px;
  }

  .soc {
    padding-left: 0;
  }
}
@media (max-width: 722px) {
  .navigation {
    display: none;
  }

  .burgerIcon {
    display: initial;
    cursor: pointer;
    user-select: none;
    width: 40px;
    height: 40px;
    margin-top: 9px;
  }

  .cross {
    display: none;
    font-size: 23px;
    margin: 0px 13px 0px 0px;
    position: relative;
    bottom: 4px;
    left: 13px;
  }

  .headerWrapper {
    padding: 25px 25px 20px 24px;
  }

  .leafs {
    display: none;
  }

  #home {
    padding: 19px 0 24px;
  }

  #home .wrapper {
    display: unset;
    padding: 0px 9px 0px 25px;
    width: 100%;
  }
  .welcome {
    font-size: 25px;
    line-height: 35px;
  }
  .homeInfo {
    width: 100%;
  }

  .homeInfo p {
    padding: 4px 0px 0px 0px;
  }
  .buttonWrapper {
    padding-top: 10px;
  }

  .learnMore {
    font-size: 10px;
    line-height: 20px;
    padding: 5px 16px;
  }

  .aboutWrapper {
    width: 100%;
    padding-right: 3px;
    padding-bottom: 22px;
  }

  #about h2 {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    width: 81%;
    padding-left: 2px;
    margin-bottom: 12px;
  }

  .about {
    width: 87%;
    padding-top: 9px;
  }

  .about p {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 0;
  }

  .imgWrapper {
    padding-top: 0;
  }
  .imgWrapper img {
    height: 155px;
  }

  .service {
    font-size: 25px;
    line-height: 33px;
    width: 60%;
  }

  .serviceWrapper {
    padding: 30px 12px 27px 12px;
    width: 87%;
  }

  .serviceButtons {
    flex-wrap: wrap;
    padding: 18px 0px 0px 0px;
    justify-content: space-between;
    width: 100%;
    gap: 10px 10px;
    justify-content: flex-start;
  }

  .serviceButtons button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
  }

  .button.garden {
    padding-right: 0px;
  }

  .cards.wrapper {
    align-items: center;
    padding: 0px 25px;
    gap: 34px 0;
  }

  .prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding: 0 11px 0 10px;
  }

  .prices h2 {
    font-size: 25px;
    line-height: 30px;
    padding-left: 0;
    text-align: center;
  }

  .accordeon {
    padding: 17px 0;
    margin-top: 17px;
    width: 221px;
    padding: 28px 0;
    gap: 11px 0px;
  }

  .contactus {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 1px;
    padding-bottom: 10px;
  }

  #price .wrapper {
    flex-direction: column;
    width: 300px;
    padding: 4px 0px 0 3px;
  }

  .contactus img {
    display: none;
  }

  .contactus h3 {
    font-size: 20px;
    line-height: 35px;
    padding-top: 0;
    text-align: center;
    width: 234px;
  }

  .contactus .button {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    width: 120px;
    height: 35px;
  }

  .price.block {
    padding: 18px 38px 18px 29px;
    width: 111px;
  }

  .basic {
    font-size: 15px;
    line-height: 20px;
    width: unset;
  }

  .divider {
    width: 110px;
  }

  .priceInfo {
    width: 110px;
  }

  .card.main {
    height: 450px;
    width: 100%;
    min-width: 60%;
    max-width: unset;
  }

  #contacts h2 {
    margin: 0;
    margin-top: 18px;
    font-size: 25px;
    line-height: 33px;
  }

  .contactsWrapper {
    padding: 7px 3px 0px 0px;
  }

  .city {
    width: 80%;
    margin-top: 81px;
    padding: 0px 21px 0px 20px;
  }

  .woman {
    height: 125px;
    width: auto;
    padding-top: 131px;
    padding-right: 21px;
  }
  .footerWrapper {
    padding: 22px 0px 0px 0px;
    height: 113px;
  }

  .rs {
    margin: 0;
  }

  .socials {
    padding: 0;
  }
}
